img {
 width: 20%;
 position: absolute;
 border-radius: 30%;
 left: 5%;
}

.datosPersonales{
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        margin-top: 5%;
        font-size: 28px;
        margin-left: 30%;
}
.titulo{
    font-family: 'Gloock', serif;
    padding: 6%;
    text-align: center;
    background-color: brown;
    color: antiquewhite;
}

.titulo button{
    background-color: antiquewhite;
    color: brown;
    border-color: brown;
}

.Estudios{
    font-family: 'Manrope', sans-serif;
    padding: 2%;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
}

.Cursos{
    font-family: 'Manrope', sans-serif; 
    margin-left: 10%;
    padding: 2%;
    font-size: 25px;
}
.idioma{
    font-family: 'Manrope', sans-serif;
    margin-left: 10%;
    margin-bottom: 40px;
    padding: 2%;
    font-size: 25px;
}
.footer{
    background-color: brown;
        color: antiquewhite;
        font-size: 15px;
        text-align: center;
        box-shadow: 2px -2px 5px brown ;
}

.footer button{
    text-decoration: none;
    background-color: antiquewhite;
    border-color: brown; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
}
